*{
  margin: 0;
  padding: 0;
}
body{
  background: #000;
}
p{
  color: #fff;
  font-family: consolas;
}
h2{
  color: #fff;
  font-family: consolas;
  font-size: 2.6em;
  letter-spacing: .2em;
  text-align: center;
}
h4{
  color: #fff;
  font-family: consolas;
  margin: 2em 0;
  letter-spacing: .2em;
  text-align: center;
}
.loremContainer{
  margin: 50px;
  /* box-shadow: 5px 5px 5px 2px linear-gradient(to top, #008aff, #00ffe7); */
  box-shadow: 3px 3px 3px 0 #008aff;
  border-radius: 3px;
}
::-webkit-scrollbar
{
  width: 0;
}
#scrollPath{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}
#progressBar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  /* height: 100%; */
  background: linear-gradient(to top, #008aff, #00ffe7);
  border-radius: 10px;
  animation: animate 5s linear infinite;
}
@keyframes animate
{
  0%, 100%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(420deg);
  }
}
#progressBar:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}
#progressBar:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}